<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">>
    <link type="text/css" rel="stylesheet" href="css/estilos.css">
    <script src="https://kit.fontawesome.com/16f8dd85c6.js" crossorigin="anonymous"></script>
    <title>Editar Cliente</title>
	<link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
    <div class="container">
        <div class="card">
            <div class="card-header text-white bg-dark">
				<h2>CLIENTES</h2>
            </div>
        </div>
        <form th:object="${cliente}" th:action="@{/actualizar}" method="post">
			<div class="form-row">
			                <div class="form-group col-lg-6">
			                    <label for="id">ID</label>
			                    <div class="input-group">
			                        <div class="input-group-prepend">
			                          <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
			                        </div>
			                        <input type="number" class="form-control" th:field="*{iD}" id="id" name="id" placeholder="" required>
			                    </div>
			                </div>
			                <div class="form-group col-lg-6">
			                    <label for="name">Usuario</label>
			                    <div class="input-group">
			                        <div class="input-group-prepend">
			                          <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
			                        </div>
			                        <input type="text" class="form-control" th:field="*{User}" id="name" name="name" placeholder="" required>
			                    </div>
			                </div>
			            </div>
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="name">Nombre</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
                        </div>
                        <input type="text" class="form-control" th:field="*{nombre}" id="name" name="name" placeholder="" required>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="name">Apellido</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
                        </div>
                        <input type="text" class="form-control" th:field="*{apellido}" id="name" name="name" placeholder="" required>
                    </div>
                </div>
            </div>
           
            <div class="form-row">
              <div class="form-group col-lg-6">
                <label for="ident">DNI:</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-id-card-o" aria-hidden="true"></i></div>
                        </div>
                        <input type="text" class="form-control" th:field="*{dni}" id="ident" placeholder="" required>
                    </div>
              </div>
              <div class="form-group col-lg-6">
                 <label for="inputAddress">Domicilio</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="fa fa-home" aria-hidden="true"></i></div>
                    </div>
                 <input type="text" class="form-control" th:field="*{domicilio}" id="inputAddress" placeholder="" required>
              </div>
            </div>
            <div class="form-row col-lg-6 col-lg-12">
                <div class="form-group col-lg-6">
                    <label for="inputEmail">Email</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                        </div>
                        <input type="email" class="form-control" th:field="*{email}" id="inputEmail" placeholder="" required>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label for="inputState">Estado</label>
                    <div class="form-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-check" aria-hidden="true"></i></div>
                            <select id="inputState" class="form-control" th:field="*{estado}">
                                <option value="Habilitado">Habilitado</option>
                                <option value="Inhabilitado">Inhabilitado</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
                <div class="form-row mr-xl-auto col-lg-4" width="16" height="16">
                    <button type="submit" class="btn btn-primary text-center"><i class="fa fa-floppy-o" aria-hidden="true"></i> Actualizar</button>
                    <button class="btn btn-danger text-center"><i class="fa fa-times" aria-hidden="true"></i> Cancelar</button>
                </div>
       </form>
    </div>

	<script th:src="@{/js/jquery.slim.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>