body{
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: white;
    color: rgb(0, 0, 0);
    border: 5px ;
    font-size: 18px;
    line-height: 1.5em;
}
.container{
    border: 10px;
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
}
.row{
    border: 2px solid blue;
}
.container-fluid{
    border: 2px solid green;
}
.mt-0 {
    margin-top: 0 !important;
  }
.pt-0{
    padding: 0 !important;
}
#nosotros{
    background-color: rgb(248, 216, 205);
    padding: 10px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
}
#historia{
    width: auto;
    padding: 45px;
    padding-left: 150px;
    padding-right: 150px;
    text-align: justify;
}
#contacto{
    background-color: darkgrey;
    padding-left: 250px;
    padding-right: 250px;
}
#footer{
    padding: 25px;
    text-align: center;
    background-color: rgb(0, 0, 0);
}
#form-group{
  margin-bottom: 15px;
  width: calc(100%2-20px);
}